@{
    ViewData["imagen"] = "/assets/img/about-bg.jpg";
    ViewData["Title"] = "About";
    ViewData["titleHeader"] = "About US";
    ViewData["subTitleHeader"] = "Acerca de nosotros.";
}

<h1>@ViewData["Title"]</h1>


<p>Use this page to detail your site's Acerca de nosotros.</p>
