
@model Publicacion

@{
    ViewData["Title"] = Model.Titulo;
    ViewData["imagen"] = Model.Imagen;
    ViewData["titleHeader"] = Model.Titulo;
    ViewData["subTitleHeader"] = Model.SubTitulo;
    ViewData["Cuerpo"] = Model.Cuerpo;
}

<h1>@ViewData["Title"]</h1>
<p>@ViewData["Cuerpo"]</p>
